@font-face {
  font-family: "Open Sans";
  src: url("../font/subset-OpenSans-Regular.woff2") format("woff2"), url("../font/subset-OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans-bold";
  src: url("../font/subset-OpenSans-Bold.woff2") format("woff2"), url("../font/subset-OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes animation-btn2 {
  from {
    width: 25px;
  }
  to {
    width: 0px;
  }
}
@keyframes animation-btn1 {
  to {
    transform: rotate(45deg);
    transform-origin: -5% 220%;
  }
}
@keyframes animation-btn3 {
  to {
    transform: rotate(-45deg);
    transform-origin: -2% -110%;
  }
}
@keyframes animation-btn2-rev {
  from {
    width: 0px;
  }
  to {
    width: 25px;
  }
}
@keyframes animation-btn1-rev {
  from {
    transform: rotate(45deg);
    transform-origin: -5% 220%;
  }
}
@keyframes animation-btn3-rev {
  from {
    transform: rotate(-45deg);
    transform-origin: -2% -110%;
  }
}
@keyframes animation-menu {
  from {
    right: -110%;
  }
  to {
    right: 0%;
  }
}
@keyframes animation-menu-rev {
  from {
    right: 0%;
  }
  to {
    right: -110%;
  }
}
@keyframes mobile-menu-text-anim {
  from {
    right: -500%;
  }
  to {
    right: 0%;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #eee;
}

.nav {
  position: sticky;
  top: 0px;
  height: 50px;
  background: #eee;
  box-shadow: 0px 12px 10px -16px #111;
  z-index: 1000;
}
.nav .nav__items {
  display: none;
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.nav .wrapper .logo {
  width: 180px;
  height: 45px;
}
.nav .wrapper .logo__logo-item {
  width: 180px;
  height: 45px;
  padding: 5px 20px;
}
.nav .wrapper .burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  min-width: 45px;
  min-height: 45px;
  text-decoration: none;
  cursor: pointer;
}
.nav .wrapper .burger-button .container-btn {
  position: absolute;
  width: 25px;
  height: 25px;
}
.nav .wrapper .burger-button .container-btn .brg {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #585658;
  border-radius: 2px;
}
.nav .wrapper .burger-button .container-btn .item2 {
  top: 11px;
}
.nav .wrapper .burger-button .container-btn .item3 {
  top: 22px;
}
.nav .wrapper .burger-button .container-btn .item2-display-none {
  animation: animation-btn2 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item1-rotate {
  animation: animation-btn1 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item3-rotate {
  animation: animation-btn3 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item2-display-none-rev {
  animation: animation-btn2-rev 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item1-rotate-rev {
  animation: animation-btn1-rev 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item3-rotate-rev {
  animation: animation-btn3-rev 0.4s ease-in forwards;
}
.nav .wrapper .burger-button:focus {
  outline: none;
}
.nav .wrapper .container-btn-border {
  border: 2px solid #585658;
  border-radius: 5px;
}
.nav .mobile-nav {
  position: relative;
  width: 100%;
  height: 0vh;
  overflow: hidden;
}
.nav .mobile-nav .mobile-nav-container {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  width: 100%;
  height: 100%;
  right: -110%;
  background-color: #eee;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 50px;
  height: 350px;
  position: relative;
  right: -500%;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items .mob-nav-item {
  display: flex;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items .mob-nav-item .text-menu-anim {
  color: #585658;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items .mob-nav-item .cta-color {
  color: #9A00F0;
}
.nav .mobile-nav .mobile-nav-container .aanimation {
  animation: mobile-menu-text-anim 0.9s ease forwards;
}
.nav .mobile-nav .mobile-nav-container-show {
  animation: animation-menu 0.8s ease forwards;
}
.nav .mobile-nav .mobile-nav-container-show-rev {
  animation: animation-menu-rev 0.8s ease forwards;
}
.nav .mobile-nav-show {
  height: 100vh;
}

.header {
  overflow: hidden;
}
.header .head-box {
  position: relative;
  background-image: url("../img/hero-img-small.jpg");
  height: 75vh;
  background-size: cover;
  background-position: center;
}
.header .head-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.582);
}
.header .head-box__text {
  width: 300px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}
.header .head-box__text h1 {
  font-size: 28px;
  padding-bottom: 10px;
  color: #fff;
  letter-spacing: 5px;
  font-family: "Open Sans-bold";
  font-weight: bold;
}
.header .head-box__text span {
  color: #56f000;
}
.header .head-box__text p {
  color: #fff;
  padding-bottom: 45px;
  letter-spacing: 1px;
  font-size: 18px;
}
.header .head-box__text .btn-cta {
  position: relative;
  border: 3px solid #9A00F0;
  background-color: transparent;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 0;
}
.header .head-box__text .btn-cta::after,
.header .head-box__text .btn-cta::before {
  content: "";
  position: absolute;
  width: 77px;
  top: -7px;
  left: 0px;
  height: 55px;
  background-color: #9A00F0;
  z-index: -1;
  transition: all 0.3s;
}
.header .head-box__text .btn-cta::before {
  left: 74px;
}
.header .head-box__text .btn-cta:hover::before {
  left: 155px;
}
.header .head-box__text .btn-cta:hover::after {
  left: -84px;
}
.header .head-box .section-anim-bottom {
  position: absolute;
  width: 42vw;
  height: 10%;
  background-color: #eee;
  bottom: -1px;
  right: 0px;
  z-index: 1;
  right: -60px;
  transform: skew(-55deg);
}

.offer {
  height: 800px;
}

@media (min-width: 768px) {
  .header .head-box {
    background-image: url("../img/hero-img-big.jpg");
  }
  .header .head-box__text {
    width: 400px;
  }
  .header .head-box__text h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .nav {
    position: sticky;
    top: 0px;
    height: 50px;
    background: #eee;
    box-shadow: 0px 12px 10px -16px #111;
    z-index: 1000;
  }
  .nav .wrapper .burger-button {
    display: none;
  }
  .nav .wrapper .nav__box {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }
  .nav .wrapper .nav__items {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    height: 50px;
  }
  .nav .wrapper .nav__items .btn {
    position: relative;
    z-index: 1;
    border-radius: 7px;
    margin: 0 8px;
  }
  .nav .wrapper .nav__items .btn::before {
    position: absolute;
    content: "";
    background-color: #56f000;
    width: 100%;
    bottom: 0px;
    height: 0px;
    transition: height 0.4s, color 0.1s;
    z-index: -1;
    border-radius: 5px;
  }
  .nav .wrapper .nav__items .btn1::before {
    background-color: #9A00F0;
    height: 3px;
  }
  .nav .wrapper .nav__items .btn1:hover a {
    color: #fff;
  }
  .nav .wrapper .nav__items .btn:hover::before {
    height: 100%;
  }
  .nav .wrapper .nav__item {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 32px;
  }
  .nav .wrapper .nav__item a {
    padding: 8px 15px;
    text-decoration: none;
    color: #585658;
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */