@font-face {
  font-family: "Open Sans";
  src: url("../font/subset-OpenSans-Regular.woff2") format("woff2"), url("../font/subset-OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans-bold";
  src: url("../font/subset-OpenSans-Bold.woff2") format("woff2"), url("../font/subset-OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes animation-btn2 {
  from {
    width: 25px;
  }
  to {
    width: 0px;
  }
}
@keyframes animation-btn1 {
  to {
    transform: rotate(45deg);
    transform-origin: -5% 220%;
  }
}
@keyframes animation-btn3 {
  to {
    transform: rotate(-45deg);
    transform-origin: -2% -110%;
  }
}
@keyframes animation-btn2-rev {
  from {
    width: 0px;
  }
  to {
    width: 25px;
  }
}
@keyframes animation-btn1-rev {
  from {
    transform: rotate(45deg);
    transform-origin: -5% 220%;
  }
}
@keyframes animation-btn3-rev {
  from {
    transform: rotate(-45deg);
    transform-origin: -2% -110%;
  }
}
@keyframes animation-menu {
  from {
    right: -110%;
  }
  to {
    right: 0%;
  }
}
@keyframes animation-menu-rev {
  from {
    right: 0%;
  }
  to {
    right: -110%;
  }
}
@keyframes mobile-menu-text-anim {
  from {
    right: -500%;
  }
  to {
    right: 0%;
  }
}
@keyframes h1-header-anim {
  from {
    transform: rotateY(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-182deg) translate(28%, -37%);
  }
}
@keyframes anim-button-casting {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
@keyframes shake {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #eee;
}

.nav {
  position: sticky;
  top: 0px;
  height: 50px;
  background: #eee;
  box-shadow: 0px 12px 10px -16px #111;
  z-index: 1000;
}
.nav .nav__items {
  display: none;
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.nav .wrapper .logo {
  width: 180px;
  height: 45px;
  cursor: pointer;
}
.nav .wrapper .logo__logo-item {
  width: 180px;
  height: 45px;
  padding: 5px 20px;
}
.nav .wrapper .burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  min-width: 45px;
  min-height: 45px;
  text-decoration: none;
  cursor: pointer;
}
.nav .wrapper .burger-button .container-btn {
  position: absolute;
  width: 25px;
  height: 25px;
}
.nav .wrapper .burger-button .container-btn .brg {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #585658;
  border-radius: 2px;
}
.nav .wrapper .burger-button .container-btn .item2 {
  top: 11px;
}
.nav .wrapper .burger-button .container-btn .item3 {
  top: 22px;
}
.nav .wrapper .burger-button .container-btn .item2-display-none {
  animation: animation-btn2 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item1-rotate {
  animation: animation-btn1 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item3-rotate {
  animation: animation-btn3 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item2-display-none-rev {
  animation: animation-btn2-rev 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item1-rotate-rev {
  animation: animation-btn1-rev 0.4s ease-in forwards;
}
.nav .wrapper .burger-button .container-btn .item3-rotate-rev {
  animation: animation-btn3-rev 0.4s ease-in forwards;
}
.nav .wrapper .burger-button:focus {
  outline: none;
}
.nav .wrapper .container-btn-border {
  border: 2px solid #585658;
  border-radius: 5px;
}
.nav .mobile-nav {
  position: relative;
  width: 100%;
  height: 0vh;
  overflow: hidden;
}
.nav .mobile-nav .mobile-nav-container {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  width: 100%;
  height: 100%;
  right: -110%;
  background-color: #eee;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 50px;
  height: 350px;
  position: relative;
  right: -500%;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items .mob-nav-item {
  display: flex;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items .mob-nav-item .text-menu-anim {
  color: #585658;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.nav .mobile-nav .mobile-nav-container .mobile-nav-items .mob-nav-item .cta-color {
  color: #9A00F0;
}
.nav .mobile-nav .mobile-nav-container .aanimation {
  animation: mobile-menu-text-anim 0.9s ease forwards;
}
.nav .mobile-nav .mobile-nav-container-show {
  animation: animation-menu 0.8s ease forwards;
}
.nav .mobile-nav .mobile-nav-container-show-rev {
  animation: animation-menu-rev 0.8s ease forwards;
}
.nav .mobile-nav-show {
  height: 100vh;
}

.header {
  overflow: hidden;
}
.header .head-box {
  position: relative;
  background-image: url("../img/hero-img-small.jpg");
  height: 75vh;
  background-size: cover;
  background-position: center;
}
.header .head-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.582);
}
.header .head-box__text {
  width: 300px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}
.header .head-box__text .h1-header {
  padding-bottom: 10px;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: "Open Sans-bold";
  font-weight: bold;
  font-size: 28px;
}
.header .head-box__text span {
  position: relative;
  display: inline-block;
}
.header .head-box__text .green {
  color: #56f000;
}
.header .head-box__text .rotate-anim {
  animation: h1-header-anim 2s 1s linear forwards;
}
.header .head-box__text p {
  color: #ffffff;
  padding-bottom: 45px;
  letter-spacing: 1px;
  font-size: 18px;
}
.header .head-box__text .btn-cta {
  position: relative;
  border: 3px solid transparent;
  background-color: transparent;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  transition: all 0.2s;
  animation: shake 1.2s ease 1s 3 both;
}
.header .head-box__text .btn-cta:hover {
  border: 3px solid #9A00F0;
}
.header .head-box__text .btn-cta::after,
.header .head-box__text .btn-cta::before {
  content: "";
  position: absolute;
  width: 77px;
  top: -7px;
  left: 0px;
  height: 55px;
  background-color: #9A00F0;
  z-index: -1;
  transition: all 0.3s;
}
.header .head-box__text .btn-cta::before {
  left: 74px;
}
.header .head-box__text .btn-cta:hover::before {
  left: 155px;
}
.header .head-box__text .btn-cta:hover::after {
  left: -84px;
}
.header .head-box .section-anim-bottom {
  position: absolute;
  width: 42vw;
  height: 10%;
  background-color: #eee;
  bottom: -1px;
  right: -60px;
  z-index: 1;
  transform: skew(-55deg);
}

main {
  overflow: hidden;
}
main .offer-section {
  scroll-margin-top: 50px;
  position: relative;
}
main .offer-section .bg-dollar {
  display: none;
}
main .offer-section .offer .container .head-br {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 35px 0 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #585658;
  z-index: 1;
  padding: 70px 0 0;
}
main .offer-section .offer .container .head-br::after {
  content: "";
  position: absolute;
  bottom: -6px;
  transform: rotate(-4deg);
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #56f000;
  z-index: -1;
  border-radius: 20px;
}
main .offer-section .offer .container .container-inside {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .offer-section .offer .container .container-inside .text-box .offer-h3 {
  position: relative;
  color: #585658;
  padding-bottom: 45px;
}
main .offer-section .offer .container .container-inside .text-box .offer-h3::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 150px;
  bottom: -131px;
  left: -75px;
  -webkit-clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
          clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
  background-color: #56f000;
  z-index: -1;
  bottom: -102px;
  left: -50px;
}
main .offer-section .offer .container .container-inside .items-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .offer-section .offer .container .container-inside .items-box .box {
  width: 220px;
  height: 220px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
main .offer-section .offer .container .container-inside .items-box .box .icon {
  width: 120px;
  height: 120px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1490196078);
  border-radius: 50%;
  box-shadow: 0px 6px 10px #585658;
  transition: all 0.3s;
  border: 2px solid #585658;
}
main .offer-section .offer .container .container-inside .items-box .box .icon .icon-item {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
main .offer-section .offer .container .container-inside .items-box .box .text {
  text-align: center;
  color: #585658;
  transition: all 0.9s;
  text-transform: uppercase;
}
main .offer-section .offer .container .container-inside .items-box .box:hover .icon {
  background-color: rgba(221, 221, 221, 0.6745098039);
}
main .offer-section .offer .container .container-inside .items-box .box:hover .icon-item {
  transform: scale(0.8);
}
main .offer-section .offer .container .container-inside .items-box .box:hover .text {
  color: #56f000;
}
main .offer-section .offer-items {
  padding: 0px 12px 120px 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr 190px);
  gap: 20px 20px;
  justify-content: center;
  text-align: center;
  color: #585658;
}
main .offer-section .offer-items .offer-item1 {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-top: 90px;
}
main .offer-section .offer-items .offer-item1 p {
  color: #585658;
  line-height: 28px;
  position: relative;
}
main .offer-section .offer-items .offer-item2 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../img/offer/session1.jpg);
  background-position: center;
  background-size: cover;
  background-position: 50% 60%;
  border-radius: 35px;
  box-shadow: 0px 6px 10px #585658;
}
main .offer-section .offer-items .offer-item3 {
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url(../img/offer/new-style2.jpg);
  background-position: center;
  background-size: cover;
  background-position: 70% 40%;
  border-radius: 35px;
  box-shadow: 0px 6px 10px #585658;
}
main .offer-section .offer-items .offer-item4 {
  margin-top: 80px;
  grid-column: 1/2;
  grid-row: 3/4;
}
main .offer-section .offer-items .offer-item4 p {
  color: #585658;
  line-height: 28px;
  position: relative;
}
main .offer-section .offer-items .offer-item4 p a {
  text-decoration: none;
}
main .offer-section .offer-items .offer-item4 p .CTA-txt {
  color: #585658;
  font-weight: bold;
  transition: all 0.3s;
}
main .offer-section .offer-items .offer-item4 p .CTA-txt:hover {
  color: #56f000;
}
main .gallery-section {
  position: relative;
  background-image: url("../img/gallery/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  scroll-margin-top: 50px;
}
main .gallery-section .gallery {
  position: relative;
  z-index: 1;
}
main .gallery-section .gallery .container {
  padding: 15px;
}
main .gallery-section .gallery .container .head-br {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 35px 0 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #585658;
  z-index: 1;
  color: #ffffff;
}
main .gallery-section .gallery .container .head-br::after {
  content: "";
  position: absolute;
  bottom: -6px;
  transform: rotate(-4deg);
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #56f000;
  z-index: -1;
  border-radius: 20px;
  bottom: 32px;
}
main .gallery-section .gallery .container .gallery-items {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .img-item {
  position: relative;
  width: 320px;
  height: 300px;
  align-content: space-between;
  margin: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border: 3px solid rgba(40, 39, 39, 0.8470588235);
  border-radius: 20px;
  box-shadow: 4px 8px 10px 2px rgba(40, 39, 39, 0.8470588235);
  overflow: hidden;
  transition: all 0.4s;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .img-item:hover {
  transform: scale(1.2);
  border: 2px solid #eee;
  box-shadow: 1px 2px 16px 3px #eee;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item1 {
  background-image: url(../img/gallery/1.jpg);
  background-position: 60% 50%;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item2 {
  background-image: url(../img/gallery/2.jpg);
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item3 {
  background-image: url(../img/gallery/3.jpg);
  background-position: 50% 30%;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item4 {
  background-image: url(../img/gallery/4.jpg);
  background-position: 50% 10%;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item5 {
  background-image: url(../img/gallery/5.jpg);
  background-position: 50% 0%;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item6 {
  background-image: url(../img/gallery/6.jpg);
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item7 {
  background-image: url(../img/gallery/7.jpg);
  background-position: 50% 25%;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item8 {
  background-image: url(../img/gallery/8.jpg);
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .item9 {
  background-image: url(../img/gallery/9.jpg);
  background-position: 50% 40%;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .img-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3333333333);
  transition: all 0.3s;
}
main .gallery-section .gallery .container .gallery-items .mobile-gallery .img-item:hover::after {
  background-color: rgba(0, 0, 0, 0.0156862745);
}
main .gallery-section .section-anim-top {
  position: absolute;
  width: 42vw;
  height: 10%;
  background-color: #eee;
  top: 0px;
  left: -150px;
  z-index: 1;
  transform: skew(-55deg);
  height: 80px;
}
main .gallery-section .section-anim-bottom {
  position: absolute;
  width: 42vw;
  height: 10%;
  background-color: #eee;
  bottom: -1px;
  right: -60px;
  z-index: 1;
  transform: skew(-55deg);
  height: 80px;
}
main .gallery-section::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
main .casting-section {
  scroll-margin-top: 49px;
  display: flex;
}
main .casting-section .bg-animations {
  display: none;
}
main .casting-section .casting .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  padding: 15px;
}
main .casting-section .casting .container .head-br {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 35px 0 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #585658;
  z-index: 1;
}
main .casting-section .casting .container .head-br::after {
  content: "";
  position: absolute;
  bottom: -6px;
  transform: rotate(-4deg);
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #56f000;
  z-index: -1;
  border-radius: 20px;
  bottom: 35px;
}
main .casting-section .casting .container .casting-offer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
main .casting-section .casting .container .casting-offer .offer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #585658;
  margin-bottom: 20px;
}
main .casting-section .casting .container .casting-offer .offer-text h3 {
  padding-bottom: 15px;
  color: #585658;
}
main .casting-section .casting .container .casting-offer .offer-text p {
  padding: 12px 0;
  margin: 0;
  width: 100%;
}
main .casting-section .casting .container .casting-offer .offer-text ul {
  width: 80%;
}
main .casting-section .casting .container .casting-offer .offer-text ul li {
  padding: 2px 0;
}
main .casting-section .casting .container .casting-offer .offer-text h4 {
  width: 100%;
  padding: 60px 0 12px 0px;
}
main .casting-section .casting .container .casting-offer .offer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 380px;
}
main .casting-section .casting .container .casting-offer .offer-img .offer-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 350px;
  border-radius: 35px;
  box-shadow: 0px 6px 10px #585658;
}
main .casting-section .casting .container hr {
  margin: 0px auto;
  margin-top: 25px;
  width: 70%;
}
main .casting-section .casting .container .offer-explain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 0;
}
main .casting-section .casting .container .offer-explain .h3-animation {
  position: relative;
  padding: 35px;
  border-radius: 50%;
  width: 280px;
  height: 60px;
  border: 2px solid #585658;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 25px;
}
main .casting-section .casting .container .offer-explain .h3-animation h3 {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #585658;
  z-index: 5;
}
main .casting-section .casting .container .offer-explain .h3-animation::after {
  content: "";
  position: absolute;
  padding: 33px;
  top: 0;
  left: 0;
  width: 280px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #585658;
  border-radius: 50%;
  animation: anim-button-casting 2s infinite linear;
}
main .casting-section .casting .container .offer-explain .h3-animation::before {
  content: "";
  position: absolute;
  padding: 33px;
  top: 0;
  left: 0;
  width: 280px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #585658;
  border-radius: 50%;
  animation: anim-button-casting 2s infinite 1s linear;
}
main .casting-section .casting .container .offer-explain .text {
  position: relative;
  padding: 10px 0;
  color: #585658;
  text-align: center;
  z-index: 1;
}
main .casting-section .casting .container .offer-explain .br::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 150px;
  bottom: -131px;
  left: -75px;
  -webkit-clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
          clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
  background-color: #56f000;
  z-index: -1;
}
main .casting-section .casting .container .offer-explain .bold {
  font-weight: bold;
  font-size: 22px;
}
main .casting-section .casting .container .offer-explain .send-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
main .casting-section .casting .container .offer-explain .send-offer a {
  text-decoration: none;
  color: #585658;
}
main .casting-section .casting .container .offer-explain .send-offer .btn {
  position: relative;
  z-index: 1;
}
main .casting-section .casting .container .offer-explain .send-offer .btn::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0%;
  width: 0%;
  height: 2px;
  background-color: #56f000;
  transition: all 0.3s;
  z-index: -1;
  overflow: hidden;
}
main .casting-section .casting .container .offer-explain .send-offer .btn:hover::after {
  width: 100%;
}
main .casting-section .casting .container .offer-explain .send-offer .text {
  padding: 10px 0;
  color: #585658;
}
main .casting-section .casting .container .offer-explain .pictures-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin: 60px 0;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 1px solid #585658;
  border-radius: 15px;
  margin: 30px 25px;
  box-shadow: 0px 6px 10px 1px #585658;
  overflow: hidden;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img1 {
  width: 270px;
  margin-top: 15px;
  height: 300px;
  background-image: url(../img/casting/girl-gdb45a5f6d_1920.png);
  background-position: center;
  background-size: contain;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img2 {
  width: 270px;
  margin-top: 15px;
  height: 300px;
  background-image: url(../img/casting/girl-g36fa22ae1_1920.png);
  background-position: center;
  background-size: contain;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img3 {
  width: 270px;
  margin-top: 15px;
  height: 300px;
  background-image: url(../img/casting/back.png);
  background-position: center;
  background-size: contain;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img-hover-scale {
  transition: all 0.4s;
  z-index: 3;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img-hover-scale:hover {
  transform: scale(1.1);
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 20px;
  z-index: 4;
  background-color: #9d9d9d;
  border-radius: 5%;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img-text h4 {
  padding-bottom: 6px;
  color: #ffffff;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img .img-text p {
  text-align: center;
  color: #ffffff;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1490196078);
  top: 0;
  left: 0;
  transition: all 0.3s;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img:hover::before {
  background-color: rgba(221, 221, 221, 0.6745098039);
  z-index: -1;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #9d9d9d;
  bottom: -8px;
  left: 150px;
  transition: all 0.5s;
  border-radius: 50%;
}
main .casting-section .casting .container .offer-explain .pictures-container .box-img:hover::after {
  transform: scale(80);
}
main .casting-section .casting .container .offer-explain .send-offer {
  margin-bottom: 60px;
}
main .casting-section .casting .container .offer-explain .send-offer .btn a {
  font-weight: bold;
  font-size: 18px;
}
main .contact-section {
  position: relative;
  background-image: url("../img/contact.jpg");
  height: 800px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 5% -10%;
  scroll-margin-top: 50px;
}
main .contact-section .bg-animation-contact {
  display: none;
}
main .contact-section .contact {
  position: relative;
  height: 800px;
  z-index: 1;
}
main .contact-section .contact .container .head-br {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 35px 0 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #585658;
  z-index: 1;
  color: #ffffff;
}
main .contact-section .contact .container .head-br::after {
  content: "";
  position: absolute;
  bottom: -6px;
  transform: rotate(-4deg);
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #56f000;
  z-index: -1;
  border-radius: 20px;
  bottom: 28px;
}
main .contact-section .contact .container .contact-items {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .contact-section .contact .container .contact-items .contact-data {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .contact-section .contact .container .contact-items .contact-data .phone-box {
  width: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  padding-bottom: 25px;
}
main .contact-section .contact .container .contact-items .contact-data .phone-box .center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contact-section .contact .container .contact-items .contact-data .phone-box .center-icon .icon {
  padding: 5px;
  width: 40px;
  height: 40px;
}
main .contact-section .contact .container .contact-items .contact-data .phone-box .center-icon a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}
main .contact-section .contact .container .contact-items .contact-data .phone-box .center-icon a::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0%;
  width: 0%;
  height: 2px;
  background-color: #56f000;
  transition: all 0.3s;
  z-index: -1;
  overflow: hidden;
}
main .contact-section .contact .container .contact-items .contact-data .phone-box .center-icon a:hover::after {
  width: 100%;
}
main .contact-section .contact .container .contact-items .contact-data .email-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
  height: 45px;
  padding-bottom: 25px;
}
main .contact-section .contact .container .contact-items .contact-data .email-box .center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contact-section .contact .container .contact-items .contact-data .email-box .center-icon .icon {
  padding: 5px;
  width: 40px;
  height: 40px;
}
main .contact-section .contact .container .contact-items .contact-data .email-box .center-icon a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}
main .contact-section .contact .container .contact-items .contact-data .email-box .center-icon a::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0%;
  width: 0%;
  height: 2px;
  background-color: #56f000;
  transition: all 0.3s;
  z-index: -1;
  overflow: hidden;
}
main .contact-section .contact .container .contact-items .contact-data .email-box .center-icon a:hover::after {
  width: 100%;
}
main .contact-section .contact .container .contact-items .form-box {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
main .contact-section .contact .container .contact-items .form-box .container-padding {
  position: relative;
  padding: 8px;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .h3header {
  position: relative;
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 20px;
  z-index: 3;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .h3header::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 150px;
  bottom: -128px;
  -webkit-clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
          clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
  background-color: #56f000;
  z-index: -1;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form {
  display: flex;
  flex-direction: column;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form label {
  color: #ffffff;
  padding: 15px 0px 4px;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .mail {
  padding: 6px;
  max-width: 400px;
  font-size: 14px;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .message {
  font-family: "Open Sans", sans-serif;
  padding: 6px;
  height: 80px;
  resize: none;
  margin-bottom: 15px;
  font-size: 14px;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .button-form {
  position: relative;
  width: 100px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 8px;
  padding: 7px 20px;
  cursor: pointer;
  color: #585658;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 0.2s;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .button-form:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .button-form::after,
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .button-form::before {
  content: "";
  position: absolute;
  width: 70px;
  top: -7px;
  left: -20px;
  height: 55px;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.3s;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .button-form::before {
  left: 50px;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .button-form:hover::before {
  left: 105px;
}
main .contact-section .contact .container .contact-items .form-box .container-padding .form-items form .button-form:hover::after {
  left: -84px;
}
main .contact-section .section-anim-bottom {
  position: absolute;
  width: 42vw;
  height: 10%;
  background-color: #eee;
  bottom: -1px;
  right: -60px;
  z-index: 1;
  transform: skew(-55deg);
  background-color: #393939;
}
main .contact-section .section-anim-top {
  position: absolute;
  width: 42vw;
  height: 10%;
  background-color: #eee;
  top: 0px;
  left: -150px;
  z-index: 1;
  transform: skew(-55deg);
}
main .contact-section::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

footer {
  background-color: #393939;
}
footer .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 10px;
}
footer .container .company-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-right: 5%;
  margin-bottom: 25px;
  width: 280px;
}
footer .container .company-info .logo {
  width: 150px;
  height: 40px;
  margin-bottom: 8px;
  border-radius: 5px;
}
footer .container .company-info h4 {
  color: #ffffff;
  margin-bottom: 7px;
  letter-spacing: 1px;
}
footer .container .company-info h4 span {
  color: #56f000;
}
footer .container .company-info p {
  font-size: 12px;
  padding-bottom: 5px;
  color: #ffffff;
}
footer .container .company-info p .icon {
  width: 25px;
  height: 25px;
}
footer .container .company-info p .btn-link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  padding-left: 8px;
  z-index: 1;
}
footer .container .company-info p .btn-link::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0%;
  width: 0%;
  height: 2px;
  background-color: #56f000;
  transition: all 0.3s;
  z-index: -1;
  overflow: hidden;
  bottom: 4px;
}
footer .container .company-info p .btn-link:hover::after {
  width: 100%;
  width: 96%;
}
footer .container .company-info .center-icon {
  display: flex;
}
footer .container .menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-right: 50px;
  padding: 8px 0;
  flex-grow: 1;
  min-width: 280px;
  display: none;
}
footer .container .menu .menu-items {
  height: 100%;
}
footer .container .menu .menu-items h4 {
  color: #ffffff;
  padding-bottom: 24px;
  letter-spacing: 1px;
}
footer .container .menu .menu-items ul {
  text-transform: uppercase;
}
footer .container .menu .menu-items ul li {
  font-size: 12px;
  padding: 8px 0;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}
footer .container .menu .menu-items ul li .btn-footer {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  z-index: 1;
  padding: 3px;
}
footer .container .menu .menu-items ul li .btn-footer::after,
footer .container .menu .menu-items ul li .btn-footer::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: all 0.3s;
}
footer .container .menu .menu-items ul li .btn-footer::before {
  top: -4px;
  left: -6px;
  border-top: 0px solid #56f000;
  border-left: 0px solid #56f000;
}
footer .container .menu .menu-items ul li .btn-footer::after {
  bottom: -4px;
  right: -6px;
  border-bottom: 0px solid #56f000;
  border-right: 0px solid #56f000;
}
footer .container .menu .menu-items ul li .btn-footer:hover::after,
footer .container .menu .menu-items ul li .btn-footer:hover::before {
  width: 32px;
  height: 20px;
}
footer .container .menu .menu-items ul li .btn-footer:hover::before {
  border-top: 3px solid #56f000;
  border-left: 3px solid #56f000;
}
footer .container .menu .menu-items ul li .btn-footer:hover::after {
  border-bottom: 3px solid #56f000;
  border-right: 3px solid #56f000;
}
footer .created-by {
  width: 100%;
  background-color: #0d0d0d;
}
footer .created-by .line {
  margin: 0 auto;
  width: 20px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
}
footer .created-by .copyright-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .created-by .copyright-box p {
  font-size: 14px;
  padding: 8px;
  color: #a8a8a8;
}
footer .created-by .created-box {
  display: flex;
  justify-content: center;
}
footer .created-by .created-box p {
  height: 100%;
  color: #a8a8a8;
  font-size: 12px;
  padding: 8px;
  margin-right: 15px;
}
footer .created-by .created-box p .btn-footer {
  position: relative;
  text-decoration: none;
  color: #a8a8a8;
  padding: 3px;
  z-index: 1;
  margin-left: 5px;
}
footer .created-by .created-box p .btn-footer::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0%;
  width: 0%;
  height: 2px;
  background-color: #56f000;
  transition: all 0.3s;
  z-index: -1;
  overflow: hidden;
}
footer .created-by .created-box p .btn-footer:hover::after {
  width: 100%;
}

@media (min-width: 576px) {
  main .casting-section .bg-animations {
    display: none;
  }
  main .casting-section .casting .container .casting-offer .offer-text {
    width: 80%;
    height: 60%;
    margin-bottom: 60px;
  }
  main .casting-section .casting .container .casting-offer .offer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
  }
  main .casting-section .casting .container .casting-offer .offer-img .offer-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    border-radius: 35px;
  }
  main .casting-section .casting .container .offer-explain .h3-anim {
    padding: 35px;
    border-radius: 60px;
    width: 390px;
    height: 70px;
    margin-bottom: 30px;
  }
  main .casting-section .casting .container .offer-explain .h3-anim h3 {
    font-size: 24px;
  }
  main .casting-section .casting .container .offer-explain .h3-anim::after {
    content: "";
    position: absolute;
    top: -120px;
    left: -400px;
    width: 250px;
    height: 350px;
  }
  main .casting-section .casting .container .offer-explain .pictures-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
  }
  main .casting-section .casting .container .offer-explain .pictures-container .img1 {
    width: 280px;
    height: 300px;
  }
  main .casting-section .casting .container .offer-explain .pictures-container .img2 {
    width: 280px;
    height: 300px;
  }
  main .casting-section .casting .container .offer-explain .pictures-container .img3 {
    width: 280px;
    height: 300px;
  }
  main .contact-section .contact-items .form-box {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .header .head-box {
    background-image: url("../img/hero-img-big.jpg");
  }
  .header .head-box__text {
    width: 400px;
  }
  .header .head-box__text h1 {
    font-size: 36px;
  }
  .header .head-box__text .br {
    position: relative;
    z-index: 3;
  }
  .header .head-box__text .br::after {
    position: absolute;
    content: "";
    width: 250px;
    height: 150px;
    bottom: -131px;
    left: -75px;
    -webkit-clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
            clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
    background-color: #56f000;
    z-index: -1;
    bottom: -102px;
    left: -15px;
  }
  footer .container .menu {
    display: flex;
  }
  footer .container .created-by {
    padding-top: 0px;
  }
  main .offer-section {
    position: relative;
    z-index: 10;
  }
  main .offer-section .offer-items {
    padding: 100px 12px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(350px, 1fr));
    gap: 100px 30px;
    grid-auto-flow: column;
  }
  main .offer-section .offer-items .offer-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    text-align: center;
  }
  main .offer-section .offer-items .offer-item1 p {
    color: #585658;
    line-height: 28px;
  }
  main .offer-section .offer-items .offer-item2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../img/offer/session1.jpg);
    background-position: center;
    background-size: cover;
    background-position: 50% 70%;
    border-radius: 35px;
    box-shadow: 0px 6px 10px #585658;
  }
  main .offer-section .offer-items .offer-item3 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../img/offer/new-style2.jpg);
    background-position: center;
    background-size: cover;
    background-position: 50% 70%;
    border-radius: 35px;
    box-shadow: 0px 6px 10px #585658;
  }
  main .offer-section .offer-items .offer-item4 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    text-align: center;
  }
  main .offer-section .offer-items .offer-item4 p {
    color: #585658;
    line-height: 28px;
    position: relative;
  }
  main .offer-section .offer-items .offer-item4 p a {
    text-decoration: none;
  }
  main .offer-section .offer-items .offer-item4 p .CTA-txt {
    color: #585658;
    font-weight: bold;
    transition: all 0.3s;
  }
  main .offer-section .offer-items .offer-item4 p .CTA-txt:hover {
    color: #56f000;
  }
  main .offer-section .offer-items p {
    padding: 40px 0;
    color: #585658;
  }
  main .casting-section {
    scroll-margin-top: 49px;
  }
  main .casting-section .bg-animations {
    display: none;
  }
  main .casting-section .casting .container {
    padding: 15px;
  }
  main .casting-section .casting .container .casting-offer .offer-text {
    width: 70%;
    height: 90%;
  }
  main .casting-section .casting .container .casting-offer .offer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 400px;
  }
  main .casting-section .casting .container .casting-offer .offer-img .offer-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    border-radius: 35px;
  }
  main .casting-section .casting .container .offer-explain .h3-anim {
    width: 440px;
    height: 90px;
    margin-bottom: 30px;
  }
  main .casting-section .casting .container .offer-explain .h3-anim h3 {
    font-size: 32px;
  }
  main .casting-section .casting .container .offer-explain .h3-anim::after {
    content: "";
    position: absolute;
    top: -120px;
    left: -400px;
    width: 250px;
    height: 350px;
    background-image: linear-gradient(to top, rgba(59, 66, 197, 0.5882352941) 0%, rgba(169, 129, 187, 0.4470588235) 49%, rgba(255, 201, 169, 0.5843137255) 100%);
    transform: rotate(30deg);
    animation: anim-button-casting 2s ease infinite;
    z-index: -5;
  }
}
@media (min-width: 992px) {
  .nav {
    position: sticky;
    top: 0px;
    height: 50px;
    background: #eee;
    box-shadow: 0px 12px 10px -16px #111;
    z-index: 1000;
  }
  .nav .wrapper .burger-button {
    display: none;
  }
  .nav .wrapper .nav__box {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }
  .nav .wrapper .nav__items {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    height: 50px;
  }
  .nav .wrapper .nav__items .btn {
    position: relative;
    z-index: 1;
    border-radius: 7px;
    margin: 0 8px;
    cursor: pointer;
  }
  .nav .wrapper .nav__items .btn::after,
  .nav .wrapper .nav__items .btn::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    transition: all 0.3s;
    z-index: -1;
  }
  .nav .wrapper .nav__items .btn::before {
    top: -2px;
    left: 3px;
    border-top: 0px solid #56f000;
    border-left: 0px solid #56f000;
  }
  .nav .wrapper .nav__items .btn::after {
    bottom: -2px;
    right: 3px;
    border-bottom: 0px solid #56f000;
    border-right: 0px solid #56f000;
  }
  .nav .wrapper .nav__items .btn:hover::after,
  .nav .wrapper .nav__items .btn:hover::before {
    width: 40px;
    height: 25px;
  }
  .nav .wrapper .nav__items .btn:hover::after {
    border-bottom: 3px solid #56f000;
    border-right: 3px solid #56f000;
  }
  .nav .wrapper .nav__items .btn:hover::before {
    border-top: 3px solid #56f000;
    border-left: 3px solid #56f000;
  }
  .nav .wrapper .nav__items .btn1 {
    color: #9A00F0;
  }
  .nav .wrapper .nav__items .btn1::before {
    top: -2px;
    left: 3px;
    border-top: 0px solid #9A00F0;
    border-left: 0px solid #9A00F0;
  }
  .nav .wrapper .nav__items .btn1::after {
    bottom: -2px;
    right: 3px;
    border-bottom: 0px solid #9A00F0;
    border-right: 0px solid #9A00F0;
  }
  .nav .wrapper .nav__items .btn1:hover::after {
    border-bottom: 3px solid #9A00F0;
    border-right: 3px solid #9A00F0;
  }
  .nav .wrapper .nav__items .btn1:hover::before {
    border-top: 3px solid #9A00F0;
    border-left: 3px solid #9A00F0;
  }
  .nav .wrapper .nav__item {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 32px;
  }
  .nav .wrapper .nav__item a {
    padding: 8px 15px;
    text-decoration: none;
    color: #585658;
    font-size: 18px;
  }
  main .offer-section .bg-dollar {
    display: block;
    position: absolute;
    top: 36%;
    right: 180px;
    width: 160px;
    height: 150px;
    opacity: 0.08;
    z-index: -100;
    animation: rotate-left 40s infinite linear;
    z-index: -10;
  }
  main .offer-section .left {
    right: 0;
    left: 180px;
    top: 28%;
    animation: rotate-right 40s infinite linear;
  }
  main .casting-section {
    position: relative;
    scroll-margin-top: 49px;
  }
  main .casting-section .bg-animations {
    display: none;
  }
  main .casting-section .casting .container .casting-offer .offer-text {
    width: 500px;
    height: 500px;
  }
  main .casting-section .casting .container .casting-offer .offer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 400px;
  }
  main .casting-section .casting .container .casting-offer .offer-img .offer-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    border-radius: 35px;
  }
}
@media (min-width: 1200px) {
  main .offer-section .bg-dollar {
    display: block;
    position: absolute;
    top: 42%;
    right: 180px;
    width: 160px;
    height: 150px;
    opacity: 0.08;
    z-index: -100;
    animation: rotate-left 40s infinite linear;
    z-index: -10;
  }
  main .offer-section .left {
    right: 0;
    left: 180px;
    top: 32%;
    animation: rotate-right 40s infinite linear;
  }
  main .casting-section {
    scroll-margin-top: 49px;
  }
  main .casting-section .bg-animations {
    display: block;
    position: absolute;
    top: 37%;
    right: 70px;
    width: 180px;
    height: 180px;
    opacity: 0.1;
    z-index: -100;
    animation: rotate-left 40s infinite linear;
  }
  main .casting-section .left {
    right: 0;
    left: 70px;
    top: 44%;
    animation: rotate-right 40s infinite linear;
  }
  main .casting-section .casting .container {
    padding: 15px;
  }
  main .casting-section .casting .container .casting-offer .offer-text {
    width: 560px;
    height: 500px;
  }
  main .casting-section .casting .container .casting-offer .offer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
  }
  main .casting-section .casting .container .casting-offer .offer-img .offer-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    border-radius: 35px;
  }
  main .contact-section .bg-animation-contact {
    display: block;
    position: absolute;
    top: 8%;
    right: 10%;
    z-index: 0;
    opacity: 0.5;
    width: 120px;
    animation: rotate-left 45s infinite linear;
  }
}/*# sourceMappingURL=style.css.map */