$main-green: #56f000;
$black-bgc: rgba(46, 46, 46, 0.582);
$black-text: #585658;
$black-text-footer: #a8a8a8;
$CTA: #9A00F0;
$pure-white: #ffffff;
$light-white: #eee; 
$casting-offer-img: #646a72;
$bgc-footer: #0d0d0d;
$main-footer-bgc: #393939;
$gallery-shadow: #282727d8;