$main-green: #56f000;
$black-bgc: rgba(46, 46, 46, 0.582);
$black-text: #585658;
$black-text-footer: #a8a8a8;
$CTA: #9A00F0;
$pure-white: #ffffff;
$light-white: #eee; 
$bgc-footer: #1f1d1dbd;
$main-footer-bgc: #373434;