@use './colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1290px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//buregr icon - animations:

@mixin anim-btn2 {
	animation: animation-btn2 0.4s ease-in forwards;
}
@keyframes animation-btn2 {
	from {
		width: 25px;
	}
	to {
		width: 0px;
	}
}

@mixin anim-btn1 {
	animation: animation-btn1 0.4s ease-in forwards;
}
@keyframes animation-btn1 {
	from {
	}
	to {
		transform: rotate(45deg);
		transform-origin: -5% 220%;
	}
}

@mixin anim-btn3 {
	animation: animation-btn3 0.4s ease-in forwards;
}
@keyframes animation-btn3 {
	from {
	}
	to {
		transform: rotate(-45deg);
		transform-origin: -2% -110%;
	}
}

//buregr icon - animations - rev:

@mixin anim-btn2-rev {
	animation: animation-btn2-rev 0.4s ease-in forwards;
}
@keyframes animation-btn2-rev {
	from {
		width: 0px;
	}
	to {
		width: 25px;
	}
}

@mixin anim-btn1-rev {
	animation: animation-btn1-rev 0.4s ease-in forwards;
}
@keyframes animation-btn1-rev {
	from {
		transform: rotate(45deg);
		transform-origin: -5% 220%;
	}
	to {
	}
}

@mixin anim-btn3-rev {
	animation: animation-btn3-rev 0.4s ease-in forwards;
}
@keyframes animation-btn3-rev {
	from {
		transform: rotate(-45deg);
		transform-origin: -2% -110%;
	}
	to {
	}
}

// mobile menu anim:

@mixin mobile-menu-anim {
	animation: animation-menu 0.8s ease forwards;
}

@keyframes animation-menu {
	from {
		right: -110%;
	}
	to {
		right: 0%;
	}
}

@mixin mobile-menu-anim-rev {
	animation: animation-menu-rev 0.8s ease forwards;
}

@keyframes animation-menu-rev {
	from {
		right: 0%;
	}
	to {
		right: -110%;
	}
}

@mixin mobile-menu-text {
	animation: mobile-menu-text-anim 0.9s ease forwards;
}

@keyframes mobile-menu-text-anim {
	from {
		right: -500%;
	}
	to {
		right: 0%;
	}
}

// h1 header animation::after

@keyframes h1-header-anim {
	from {
		transform: rotateY(0deg);
		opacity: 1;
		// filter: blur(0px);
	}
	to {
		transform: rotate(-182deg) translate(28%, -37%);
	}
}

// graphical animation for transitions between sections

@mixin section-bottom {
	position: absolute;
	width: 42vw;
	height: 10%;
	background-color: $light-white;
	bottom: -1px;
	right: -60px;
	z-index: 1;
	transform: skew(-55deg);
}

@mixin section-top {
	position: absolute;
	width: 42vw;
	height: 10%;
	background-color: $light-white;
	top: 0px;
	left: -150px;
	z-index: 1;
	transform: skew(-55deg);
}

// main sections:

//h1:

@mixin h1-style {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 35px 0 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $black-text;
	z-index: 1;
}

@mixin h1-break-line {
	content: '';
	position: absolute;
	bottom: -6px;
	transform: rotate(-4deg);
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 30px solid $main-green;
	z-index: -1;
	border-radius: 20px;
}

// h3 break line

@mixin h3-break-line {
	position: absolute;
	content: '';
	width: 250px;
	height: 150px;
	bottom: -131px;
	left: -75px;
	clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
	background-color: $main-green;
	z-index: -1;
}

// link hover for after element:

@mixin link-anim-after {
	position: absolute;
	content: '';
	bottom: -1px;
	right: 0%;
	width: 0%;
	height: 2px;
	background-color: $main-green;
	transition: all 0.3s;
	z-index: -1;
	overflow: hidden;
}

@mixin link-anim-hover-after {
	width: 100%;
}

// animation for button in casting section:

@keyframes anim-button-casting {
	0% {
		left: -400px;
	}
	100% {
		left: 500px;
	}
}

// animation for CTA button

@keyframes shake {
	0% {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
