@use './fonts' as *;
@use './colors' as *;
@use './components' as *;

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: $light-white;
}

.nav {
	position: sticky;
	top: 0px;
	height: 50px;
	background: $light-white;
	box-shadow: 0px 12px 10px -16px #111;
	z-index: 1000;

	.nav__items {
		display: none;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		.logo {
			width: 180px;
			height: 45px;
			cursor: pointer;

			&__logo-item {
				width: 180px;
				height: 45px;
				padding: 5px 20px;
			}
		}

		.burger-button {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 20px;
			min-width: 45px;
			min-height: 45px;
			text-decoration: none;
			cursor: pointer;

			.container-btn {
				position: absolute;
				width: 25px;
				height: 25px;

				.brg {
					position: absolute;
					width: 25px;
					height: 3px;
					background-color: $black-text;
					border-radius: 2px;
				}

				.item2 {
					top: 11px;
				}

				.item3 {
					top: 22px;
				}

				.item2-display-none {
					@include anim-btn2;
				}

				.item1-rotate {
					@include anim-btn1;
				}

				.item3-rotate {
					@include anim-btn3;
				}

				.item2-display-none-rev {
					@include anim-btn2-rev;
				}

				.item1-rotate-rev {
					@include anim-btn1-rev;
				}

				.item3-rotate-rev {
					@include anim-btn3-rev;
				}
			}
		}

		.burger-button:focus {
			outline: none;
		}

		.container-btn-border {
			border: 2px solid $black-text;
			border-radius: 5px;
		}
	}

	.mobile-nav {
		position: relative;
		width: 100%;
		height: 0vh;
		overflow: hidden;

		.mobile-nav-container {
			position: absolute;
			display: flex;
			justify-content: center;
			padding-top: 45px;
			width: 100%;
			height: 100%;
			right: -110%;
			background-color: $light-white;

			.mobile-nav-items {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				list-style: none;
				padding: 50px;
				height: 350px;
				position: relative;
				right: -500%;

				.mob-nav-item {
					display: flex;
					justify-content: center;
					font-size: 24px;
					letter-spacing: 2px;
					text-transform: uppercase;

					.text-menu-anim {
						color: $black-text;
						text-decoration: none;
						padding: 10px;
						margin: 10px;
						cursor: pointer;
					}

					.cta-color {
						color: $CTA;
					}
				}
			}

			.aanimation {
				@include mobile-menu-text;
			}
		}

		.mobile-nav-container-show {
			@include mobile-menu-anim;
		}

		.mobile-nav-container-show-rev {
			@include mobile-menu-anim-rev;
		}
	}

	.mobile-nav-show {
		height: 100vh;
	}
}

.header {
	overflow: hidden;

	.head-box {
		position: relative;
		background-image: url('../img/hero-img-small.jpg');
		height: 75vh;
		background-size: cover;
		background-position: center;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $black-bgc;
		}

		&__text {
			width: 300px;
			display: flex;
			z-index: 1;
			flex-direction: column;
			align-items: center;

			h1 {
				font-size: 28px;
				padding-bottom: 10px;
				color: $pure-white;
				letter-spacing: 5px;
				font-family: 'Open Sans-bold';
				font-weight: bold;
			}

			span {
				color: $main-green;
			}

			p {
				color: $pure-white;
				padding-bottom: 45px;
				letter-spacing: 1px;
				font-size: 18px;
			}

			.btn-cta {
				position: relative;
				border: 3px solid transparent;
				background-color: transparent;
				border-radius: 8px;
				padding: 12px 24px;
				cursor: pointer;
				color: $pure-white;
				text-transform: uppercase;
				letter-spacing: 1px;
				overflow: hidden;
				transition: all 0.2s;
			}

			.btn-cta:hover {
				border: 3px solid $CTA;
			}

			.btn-cta::after,
			.btn-cta::before {
				content: '';
				position: absolute;
				width: 77px;
				top: -7px;
				left: 0px;
				height: 55px;
				background-color: $CTA;
				z-index: -1;
				transition: all 0.3s;
			}

			.btn-cta::before {
				left: 74px;
			}

			.btn-cta:hover::before {
				left: 155px;
			}

			.btn-cta:hover::after {
				left: -84px;
			}
		}

		.section-anim-bottom {
			@include section-bottom;
		}
	}
}

main {
	overflow: hidden;

	.offer-section {
		scroll-margin-top: 50px;

		.offer {
			height: 800px;

			.container {
				h1 {
					@include h1-style;
					padding: 70px 0 0;
				}

				.offer-items {
					padding: 15px;

					p {
						padding: 40px 0;
						color: $black-text;
					}
				}
			}
		}
	}

	.gallery-section {
		position: relative;
		background-image: url('../img/gallery/bg.jpg');
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		scroll-margin-top: 50px;

		.gallery {
			position: relative;
			z-index: 1;

			.container {
				padding: 15px;

				h1 {
					@include h1-style;
					color: $pure-white;
				}

				.gallery-items {
					width: 100%;
					margin-bottom: 150px;
					display: flex;
					flex-wrap: wrap;

					.mobile-gallery {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;
						margin-top: 60px;

						.img-item {
							position: relative;
							width: 280px;
							height: 280px;
							align-content: space-between;
							margin: 20px 20px;
							display: flex;
							flex-wrap: wrap;
							align-content: space-between;
							background-repeat: no-repeat;
							background-size: cover;
							background-position: 50% 50%;
							border: 2px solid $pure-white;
							border-radius: 20px;
							box-shadow: 2px 4px 8px 2px $pure-white;
							overflow: hidden;
						}

						.item1 {
							background-image: url(../img/gallery/1.jpg);
							background-position: 60% 50%;
						}
						.item2 {
							background-image: url(../img/gallery/2.jpg);
						}
						.item3 {
							background-image: url(../img/gallery/3.jpg);
							background-position: 50% 30%;
						}
						.item4 {
							background-image: url(../img/gallery/4.jpg);
							background-position: 50% 10%;
						}
						.item5 {
							background-image: url(../img/gallery/5.jpg);
							background-position: 50% 0%;
						}
						.item6 {
							background-image: url(../img/gallery/6.jpg);
						}
						.item7 {
							background-image: url(../img/gallery/7.jpg);
							background-position: 50% 25%;
						}
						.item8 {
							background-image: url(../img/gallery/8.jpg);
						}
						.item9 {
							background-image: url(../img/gallery/9.jpg);
							background-position: 50% 40%;
						}

						.img-item::after {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							background-color: #ffffff17;
							transition: all .3s;
						}

						.img-item:hover::after {
							background-color: #d0d0d087;
							
						}
					}
				}
			}
		}

		.section-anim-top {
			@include section-top;
			height: 80px;
		}

		.section-anim-bottom {
			@include section-bottom;
			height: 80px;
		}
	}

	.gallery-section::after {
		content: '';
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.casting-section {
		scroll-margin-top: 49px;
		display: flex;

		.casting {
			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: space-evenly;
				padding: 15px;

				h1 {
					@include h1-style;
				}

				.casting-offer {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					flex-wrap: wrap;

					.offer-text {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 80%;
						color: $black-text;
						margin-bottom: 20px;

						h3 {
							padding-bottom: 15px;
							color: $black-text;
						}
					}

					.offer-img {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 300px;
						height: 380px;

						.offer-picture {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 275px;
							height: 350px;
							border-radius: 35px;
							box-shadow: 0px 6px 10px $black-text;
						}
					}
				}

				hr {
					margin: 0px auto;
					margin-top: 25px;
					width: 70%;
				}

				.offer-explain {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					width: 100%;
					padding: 40px 0;

					.h3-anim {
						position: relative;
						padding: 35px;
						border-radius: 60px;
						width: 260px;
						height: 60px;
						overflow: hidden;
						display: flex;
						justify-content: center;
						z-index: 1;
						margin-bottom: 25px;

						h3 {
							font-size: 18px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: $black-text;
							z-index: 5;
						}
					}

					.h3-anim::after {
						content: '';
						position: absolute;
						top: -120px;
						left: -400px;
						width: 250px;
						height: 350px;
						background-image: linear-gradient(to top, #3b42c596 0%, #a981bb72 49%, #ffc9a995 100%);
						transform: rotate(30deg);
						animation: anim-button-casting 5s ease infinite;
						z-index: -5;
					}

					.text {
						padding: 10px 0;
						color: $black-text;
						text-align: center;
					}

					.bold {
						font-weight: bold;
						font-size: 22px;
					}

					.send-offer {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						width: 100%;

						a {
							text-decoration: none;
							color: $black-text;
						}

						.btn {
							position: relative;
							z-index: 1;
						}

						.btn::after {
							@include link-anim-after;
						}

						.btn:hover::after {
							@include link-anim-hover-after;
						}

						.text {
							padding: 10px 0;
							color: $black-text;
						}
					}

					.pictures-container {
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						align-items: stretch;
						width: 100%;
						margin: 60px 0;

						.box-img {
							position: relative;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							width: 300px;
							border: 1px solid $black-text;
							border-radius: 15px;
							margin: 30px 25px;
							box-shadow: 0px 6px 10px 1px $black-text;
							overflow: hidden;

							.img1 {
								width: 270px;
								margin-top: 15px;
								height: 300px;
								background-image: url(../img/casting/girl-gdb45a5f6d_1920.png);
								background-position: center;
								background-size: contain;
							}
							.img2 {
								width: 270px;
								margin-top: 15px;
								height: 300px;
								background-image: url(../img/casting/girl-g36fa22ae1_1920.png);
								background-position: center;
								background-size: contain;
							}
							.img3 {
								width: 270px;
								margin-top: 15px;
								height: 300px;
								background-image: url(../img/casting/back.png);
								background-position: center;
								background-size: contain;
							}

							.img-hover-scale{
								transition: all .3s;
							}

							.img-hover-scale:hover{
								transform: scale(1.1);
							}

							.img-text {
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								width: 100%;
								height: 80px;
								margin: 20px;
								z-index: 1;

								h4 {
									padding-bottom: 6px;
									color: $black-text;
								}

								p {
									text-align: center;
									color: $black-text;
								}
							}
						}

						.box-img::before {
							position: absolute;
							content: '';
							width: 100%;
							height: 100%;
							background-color: #00000026;
							top: 0;
							left: 0;
							transition: all 0.3s;
						}

						.box-img:hover::before {
							background-color: #dfdfdfa4;
							z-index: -1;
						}

						.box-img:hover .img-text {
							background-color: #ffffffd5;
							border-radius: 5%;
						}
					}

					.send-offer {
						margin-bottom: 60px;

						.btn {
							a {
								font-weight: bold;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}

	.contact-section {
		position: relative;
		background-image: url('../img/contact.jpg');
		height: 800px;
		background-attachment: fixed;
		background-size: cover;
		background-position: 5% -10%;
		scroll-margin-top: 50px;

		.contact {
			position: relative;
			height: 800px;
			z-index: 1;

			.container {
				h1 {
					@include h1-style;
					color: $pure-white;
				}

				.contact-items {
					width: 100%;
					height: 550px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.contact-data {
						width: 80%;
						height: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;

						.phone-box {
							width: 260px;
							display: flex;
							justify-content: flex-start;
							align-items: center;
							height: 45px;
							padding-bottom: 25px;

							.center-icon {
								display: flex;
								justify-content: center;
								align-items: center;

								.icon {
									padding: 5px;
									width: 40px;
									height: 40px;
								}

								a {
									position: relative;
									text-decoration: none;
									color: $pure-white;
								}

								a::after {
									@include link-anim-after;
								}
								a:hover::after {
									@include link-anim-hover-after;
								}
							}
						}

						.email-box {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							width: 260px;
							height: 45px;
							padding-bottom: 25px;

							.center-icon {
								display: flex;
								justify-content: center;
								align-items: center;

								.icon {
									padding: 5px;
									width: 40px;
									height: 40px;
								}

								a {
									position: relative;
									text-decoration: none;
									color: $pure-white;
								}

								a::after {
									@include link-anim-after;
								}
								a:hover::after {
									@include link-anim-hover-after;
								}
							}
						}
					}

					.form-box {
						width: 90%;
						height: 400px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						border: 1px solid $pure-white;
						border-radius: 20px;

						.container-padding {
							padding: 8px;
							.h3header {
								display: flex;
								justify-content: center;
								color: $pure-white;
								padding-bottom: 20px;
							}

							.form-items {
								form {
									display: flex;
									flex-direction: column;

									label {
										color: $pure-white;
										padding: 15px 0px 4px;
									}

									.mail {
										padding: 6px;
										max-width: 400px;
									}

									.message {
										padding: 6px;
										height: 80px;
										resize: none;
										margin-bottom: 15px;
									}

									.button-form {
										position: relative;
										width: 100px;
										border: 1px solid transparent;
										background-color: transparent;
										border-radius: 8px;
										padding: 7px 20px;
										cursor: pointer;
										color: $black-text;
										text-transform: uppercase;
										letter-spacing: 1px;
										overflow: hidden;
										display: flex;
										justify-content: center;
										transition: all 0.2s;
									}

									.button-form:hover {
										border: 1px solid $pure-white;
										color: $pure-white;
									}

									.button-form::after,
									.button-form::before {
										content: '';
										position: absolute;
										width: 70px;
										top: -7px;
										left: -20px;
										height: 55px;
										background-color: $pure-white;
										z-index: -1;
										transition: all 0.3s;
									}

									.button-form::before {
										left: 50px;
									}

									.button-form:hover::before {
										left: 105px;
									}

									.button-form:hover::after {
										left: -84px;
									}
								}
							}
						}
					}
				}
			}
		}

		.section-anim-bottom {
			@include section-bottom;
			background-color: $main-footer-bgc;
		}

		.section-anim-top {
			@include section-top;
		}
	}

	.contact-section::after {
		content: '';
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 0;
	}
}

footer {
	background-color: $main-footer-bgc;

	.container {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 30px 10px;

		.company-info {
			display: flex;
			flex-direction: column;
			padding: 8px;
			margin-right: 5%;
			margin-bottom: 25px;
			width: 280px;

			.logo {
				width: 150px;
				height: 40px;
				margin-bottom: 8px;
				border-radius: 5px;
			}

			h4 {
				color: $pure-white;
				margin-bottom: 7px;
				letter-spacing: 1px;

				span {
					color: $main-green;
				}
			}

			p {
				font-size: 12px;
				padding-bottom: 5px;
				color: $pure-white;

				.icon {
					width: 25px;
					height: 25px;
				}

				.btn-link {
					position: relative;
					text-decoration: none;
					color: $pure-white;
					padding-left: 8px;
					z-index: 1;
				}

				.btn-link::after {
					@include link-anim-after;
					bottom: 4px;
				}

				.btn-link:hover::after {
					@include link-anim-hover-after;
					width: 96%;
				}
			}

			.center-icon {
				display: flex;
			}
		}

		.menu {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			flex-wrap: wrap;
			margin-right: 50px;
			padding: 8px 0;
			flex-grow: 1;
			min-width: 280px;
			display: none;

			.menu-items {
				height: 100%;

				h4 {
					color: $pure-white;
					padding-bottom: 24px;
					letter-spacing: 1px;
				}

				ul {
					text-transform: uppercase;

					li {
						font-size: 12px;
						padding: 8px 0;
						color: $pure-white;
						text-decoration: none;
						list-style: none;

						.btn-footer {
							position: relative;
							display: flex;
							justify-content: center;
							text-decoration: none;
							color: $pure-white;
							z-index: 1;
							padding: 3px;
						}

						.btn-footer::after,
						.btn-footer::before {
							content: '';
							position: absolute;
							width: 0;
							height: 0;
							transition: all 0.3s;
						}

						.btn-footer::before {
							top: -4px;
							left: -6px;
							border-top: 0px solid $main-green;
							border-left: 0px solid $main-green;
						}

						.btn-footer::after {
							bottom: -4px;
							right: -6px;
							border-bottom: 0px solid $main-green;
							border-right: 0px solid $main-green;
						}

						.btn-footer:hover::after,
						.btn-footer:hover::before {
							width: 32px;
							height: 20px;
						}

						.btn-footer:hover::before {
							border-top: 3px solid $main-green;
							border-left: 3px solid $main-green;
						}

						.btn-footer:hover::after {
							border-bottom: 3px solid $main-green;
							border-right: 3px solid $main-green;
						}
					}
				}
			}
		}
	}

	.created-by {
		width: 100%;
		background-color: $bgc-footer;

		.line {
			margin: 0 auto;
			width: 20px;
			border: 1px solid $black-text-footer;
			border-radius: 4px;
		}

		.copyright-box {
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				font-size: 14px;
				padding: 8px;
				color: $black-text-footer;
			}
		}

		.created-box {
			display: flex;
			justify-content: center;

			p {
				height: 100%;
				color: $black-text-footer;
				font-size: 12px;
				padding: 8px;
				margin-right: 15px;

				.btn-footer {
					position: relative;
					text-decoration: none;
					color: $black-text-footer;
					padding: 3px;
					z-index: 1;
					margin-left: 5px;
				}

				.btn-footer::after {
					@include link-anim-after;
				}

				.btn-footer:hover::after {
					@include link-anim-hover-after;
				}
			}
		}
	}
}

//////////////////
////// MEDIA//////
//////////////////

@media (min-width: 576px) {
	main {
		.casting-section {
			.casting {
				.container {
					.casting-offer {
						.offer-text {
							width: 80%;
							height: 60%;
							margin-bottom: 60px;
						}

						.offer-img {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 350px;
							height: 400px;

							.offer-picture {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 360px;
								height: 420px;
								border-radius: 35px;
							}
						}
					}

					.offer-explain {
						.h3-anim {
							padding: 35px;
							border-radius: 60px;
							width: 390px;
							height: 70px;
							margin-bottom: 30px;

							h3 {
								font-size: 24px;
							}
						}

						.h3-anim::after {
							content: '';
							position: absolute;
							top: -120px;
							left: -400px;
							width: 250px;
							height: 350px;
						}

						.pictures-container {
							display: flex;
							justify-content: space-around;
							flex-wrap: wrap;
							align-content: space-around;
							width: 100%;

							.img1 {
								width: 280px;
								height: 300px;
							}
							.img2 {
								width: 280px;
								height: 300px;
							}
							.img3 {
								width: 280px;
								height: 300px;
							}
						}
					}
				}
			}
		}

		.contact-section {
			.contact-items {
				.form-box {
					padding: 10px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		.head-box {
			background-image: url('../img/hero-img-big.jpg');

			&__text {
				width: 400px;

				h1 {
					font-size: 36px;
				}
			}
		}
	}

	footer {
		.container {
			.menu {
				display: flex;
			}

			.created-by {
				padding-top: 0px;
			}
		}
	}

	main {
		.casting-section {
			scroll-margin-top: 49px;

			.casting {
				.container {
					padding: 15px;

					.casting-offer {
						.offer-text {
							width: 70%;
							height: 90%;
						}

						.offer-img {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 430px;
							height: 400px;

							.offer-picture {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 360px;
								height: 420px;
								border-radius: 35px;
							}
						}
					}

					.offer-explain {
						.h3-anim {
							width: 440px;
							height: 90px;
							margin-bottom: 30px;

							h3 {
								font-size: 32px;
							}
						}

						.h3-anim::after {
							content: '';
							position: absolute;
							top: -120px;
							left: -400px;
							width: 250px;
							height: 350px;
							background-image: linear-gradient(to top, #3b42c596 0%, #a981bb72 49%, #ffc9a995 100%);
							transform: rotate(30deg);
							animation: anim-button-casting 2s ease infinite;
							z-index: -5;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		position: sticky;
		top: 0px;
		height: 50px;
		background: $light-white;
		box-shadow: 0px 12px 10px -16px #111;
		z-index: 1000;

		.wrapper {
			.burger-button {
				display: none;
			}

			.nav {
				&__box {
					display: flex;
					justify-content: flex-end;
					width: 70%;
				}

				&__items {
					display: flex;
					align-items: center;
					list-style: none;
					flex-wrap: wrap;
					height: 50px;

					.btn {
						position: relative;
						z-index: 1;
						border-radius: 7px;
						margin: 0 8px;
						cursor: pointer;
					}

					.btn::after,
					.btn::before {
						content: '';
						position: absolute;
						width: 0px;
						height: 0px;
						transition: all 0.3s;
						z-index: -1;
					}

					.btn::before {
						top: -2px;
						left: 3px;
						border-top: 0px solid $main-green;
						border-left: 0px solid $main-green;
					}

					.btn::after {
						bottom: -2px;
						right: 3px;
						border-bottom: 0px solid $main-green;
						border-right: 0px solid $main-green;
					}

					.btn:hover::after,
					.btn:hover::before {
						width: 40px;
						height: 25px;
					}

					.btn:hover::after {
						border-bottom: 3px solid $main-green;
						border-right: 3px solid $main-green;
					}

					.btn:hover::before {
						border-top: 3px solid $main-green;
						border-left: 3px solid $main-green;
					}

					.btn1 {
						color: $CTA;
					}

					.btn1::before {
						top: -2px;
						left: 3px;
						border-top: 0px solid $CTA;
						border-left: 0px solid $CTA;
					}

					.btn1::after {
						bottom: -2px;
						right: 3px;
						border-bottom: 0px solid $CTA;
						border-right: 0px solid $CTA;
					}

					.btn1:hover::after {
						border-bottom: 3px solid $CTA;
						border-right: 3px solid $CTA;
					}

					.btn1:hover::before {
						border-top: 3px solid $CTA;
						border-left: 3px solid $CTA;
					}
				}

				&__item {
					display: flex;
					align-items: center;
					letter-spacing: 2px;
					text-transform: uppercase;
					height: 32px;

					a {
						padding: 8px 15px;
						text-decoration: none;
						color: $black-text;
						font-size: 18px;
					}
				}
			}
		}
	}

	main {
		.casting-section {
			scroll-margin-top: 49px;

			.casting {
				.container {
					.casting-offer {
						.offer-text {
							width: 500px;
							height: 500px;
						}

						.offer-img {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 430px;
							height: 400px;

							.offer-picture {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 360px;
								height: 420px;
								border-radius: 35px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	main {
		.casting-section {
			scroll-margin-top: 49px;

			.casting {
				.container {
					padding: 15px;

					.casting-offer {
						.offer-text {
							width: 560px;
							height: 500px;
						}

						.offer-img {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 450px;
							height: 300px;

							.offer-picture {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 360px;
								height: 420px;
								border-radius: 35px;
							}
						}
					}
				}
			}
		}
	}
}
