@use './fonts' as *;
@use './colors' as *;
@use './components' as *;

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: $light-white;
}

.nav {
	position: sticky;
	top: 0px;
	height: 50px;
	background: $light-white;
	box-shadow: 0px 12px 10px -16px #111;
	z-index: 1000;

	.nav__items {
		display: none;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		.logo {
			width: 180px;
			height: 45px;
			cursor: pointer;

			&__logo-item {
				width: 180px;
				height: 45px;
				padding: 5px 20px;
			}
		}

		.burger-button {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 20px;
			min-width: 45px;
			min-height: 45px;
			text-decoration: none;
			cursor: pointer;

			.container-btn {
				position: absolute;
				width: 25px;
				height: 25px;

				.brg {
					position: absolute;
					width: 25px;
					height: 3px;
					background-color: $black-text;
					border-radius: 2px;
				}

				.item2 {
					top: 11px;
				}

				.item3 {
					top: 22px;
				}

				.item2-display-none {
					@include anim-btn2;
				}

				.item1-rotate {
					@include anim-btn1;
				}

				.item3-rotate {
					@include anim-btn3;
				}

				.item2-display-none-rev {
					@include anim-btn2-rev;
				}

				.item1-rotate-rev {
					@include anim-btn1-rev;
				}

				.item3-rotate-rev {
					@include anim-btn3-rev;
				}
			}
		}

		.burger-button:focus {
			outline: none;
		}

		.container-btn-border {
			border: 2px solid $black-text;
			border-radius: 5px;
		}
	}

	.mobile-nav {
		position: relative;
		width: 100%;
		height: 0vh;
		overflow: hidden;

		.mobile-nav-container {
			position: absolute;
			display: flex;
			justify-content: center;
			padding-top: 45px;
			width: 100%;
			height: 100%;
			right: -110%;
			background-color: $light-white;

			.mobile-nav-items {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				list-style: none;
				padding: 50px;
				height: 350px;
				position: relative;
				right: -500%;

				.mob-nav-item {
					display: flex;
					justify-content: center;
					font-size: 24px;
					letter-spacing: 2px;
					text-transform: uppercase;

					.text-menu-anim {
						color: $black-text;
						text-decoration: none;
						padding: 10px;
						margin: 10px;
						cursor: pointer;
					}

					.cta-color {
						color: $CTA;
					}
				}
			}

			.aanimation {
				@include mobile-menu-text;
			}
		}

		.mobile-nav-container-show {
			@include mobile-menu-anim;
		}

		.mobile-nav-container-show-rev {
			@include mobile-menu-anim-rev;
		}
	}

	.mobile-nav-show {
		height: 100vh;
	}
}

.header {
	overflow: hidden;

	.head-box {
		position: relative;
		background-image: url('../img/hero-img-small.jpg');
		height: 75vh;
		background-size: cover;
		background-position: center;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $black-bgc;
		}

		&__text {
			width: 300px;
			display: flex;
			z-index: 1;
			flex-direction: column;
			align-items: center;

			h1 {
				font-size: 28px;
				padding-bottom: 10px;
				color: $pure-white;
				letter-spacing: 5px;
				font-family: 'Open Sans-bold';
				font-weight: bold;
			}

			span {
				color: $main-green;
			}

			p {
				color: $pure-white;
				padding-bottom: 45px;
				letter-spacing: 1px;
				font-size: 18px;
			}

			.btn-cta {
				position: relative;
				border: 3px solid $CTA;
				background-color: transparent;
				border-radius: 8px;
				padding: 12px 24px;
				cursor: pointer;
				color: $pure-white;
				text-transform: uppercase;
				letter-spacing: 1px;
				overflow: hidden;
			}

			.btn-cta::after,
			.btn-cta::before {
				content: '';
				position: absolute;
				width: 77px;
				top: -7px;
				left: 0px;
				height: 55px;
				background-color: $CTA;
				z-index: -1;
				transition: all 0.3s;
			}

			.btn-cta::before {
				left: 74px;
			}

			.btn-cta:hover::before {
				left: 155px;
			}

			.btn-cta:hover::after {
				left: -84px;
			}
		}

		.section-anim-bottom {
			@include section-bottom;
		}
	}
}

main {
	overflow: hidden;

	.offer-section {
		scroll-margin-top: 50px;

		.offer {
			height: 800px;

			.container {
				h1 {
					@include h1-style;
					padding: 70px 0 0;
				}

				.offer-items {
					p {
						padding: 40px;
						color: $black-text;
					}
				}
			}
		}
	}

	.gallery-section {
		position: relative;
		background-image: url('../img/gallery/pexels-nikolai-ulltang-285284\ \(1\).jpg');
		height: 800px;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		scroll-margin-top: 50px;

		.gallery {
			position: relative;
			z-index: 1;

			.container {
				h1 {
					@include h1-style;
					color: $pure-white;
				}

				p {
					color: $pure-white;
				}
			}
		}

		.section-anim-bottom {
			@include section-bottom;
		}

		.section-anim-top {
			@include section-top;
		}
	}

	.gallery-section::after {
		content: '';
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.casting-section {
		scroll-margin-top: 49px;

		.casting {
			height: 800px;

			.container {
				h1 {
					@include h1-style;
				}
			}
		}
	}

	.contact-section {
		position: relative;
		background-image: url('../img/contact.jpg');
		height: 800px;
		background-attachment: fixed;
		background-size: cover;
		background-position: 5% -10%;
		scroll-margin-top: 50px;

		.contact {
			position: relative;
			height: 800px;
			z-index: 1;

			.container {
				h1 {
					@include h1-style;
					color: $pure-white;
				}

				p {
					color: $pure-white;
				}
			}
		}

		.section-anim-bottom {
			@include section-bottom;
			background-color: rgb(73, 72, 72);
		}

		.section-anim-top {
			@include section-top;
		}
	}

	.contact-section::after {
		content: '';
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 0;
	}
}

footer {
	background-color: rgb(73, 72, 72);

	.container {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 30px 10px;

		.company-info {
			display: flex;
			flex-direction: column;
			padding: 8px;
			margin-right: 5%;
			margin-bottom: 25px;
			width: 280px;

			img {
				width: 150px;
				height: 40px;
				margin-bottom: 8px;
			}

			h4 {
				color: $pure-white;
				margin-bottom: 7px;
				letter-spacing: 1px;

				span {
					color: $main-green;
				}
			}

			p {
				font-size: 12px;
				padding: 0;
				color: $pure-white;
			}
		}

		.menu {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			flex-wrap: wrap;
			margin-right: 50px;
			padding: 8px;
			flex-grow: 1;

			.menu-items {
				height: 100%;

				h4 {
					color: $pure-white;
					padding-bottom: 18px;
					letter-spacing: 1px;
				}

				ul {
					text-transform: uppercase;

					li {
						font-size: 12px;
						padding: 10px 0;
						color: $pure-white;
						text-decoration: none;
						list-style: none;

						.btn-footer {
							position: relative;
							display: flex;
							justify-content: center;
							text-decoration: none;
							color: $pure-white;
							z-index: 1;
							padding: 3px;
						}

						.btn-footer:hover {
							color: $black-text;
							transition: all 0.3s;
						}

						.btn-footer::before {
							content: '';
							position: absolute;
							width: 100%;
							height: 0px;
							bottom: 0;
							background-color: $main-green;
							transition: 0.3s;
							z-index: -1;
							border-radius: 4px;
						}

						.btn-footer:hover::before {
							height: 100%;
						}

						.btn-footer-cta::before {
							background-color: $CTA;
							height: 2px;
						}

						.btn-footer-cta:hover {
							color: $pure-white;
						}
					}
				}
			}
		}

		.created-by {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			p {
				padding: 8px;
				color: $pure-white;
				font-size: 12px;

				.btn-footer {
					position: relative;
					text-decoration: none;
					color: $pure-white;
					margin-left: 10px;
					padding: 3px;
					z-index: 1;
				}

				.btn-footer::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $CTA;
					bottom: 0px;
					left: 0px;
					transition: all .3s;
					z-index: -1;
					border-radius: 4px;
				}

				.btn-footer:hover::after {
					height: 100%;
				}
			}
		}
	}
}

//////////////////
////// MEDIA//////
//////////////////

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.header {
		.head-box {
			background-image: url('../img/hero-img-big.jpg');

			&__text {
				width: 400px;

				h1 {
					font-size: 36px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		position: sticky;
		top: 0px;
		height: 50px;
		background: $light-white;
		box-shadow: 0px 12px 10px -16px #111;
		z-index: 1000;

		.wrapper {
			.burger-button {
				display: none;
			}

			.nav {
				&__box {
					display: flex;
					justify-content: flex-end;
					width: 70%;
				}

				&__items {
					display: flex;
					align-items: center;
					list-style: none;
					flex-wrap: wrap;
					height: 50px;

					.btn {
						position: relative;
						z-index: 1;
						border-radius: 7px;
						margin: 0 8px;
					}

					.btn::before {
						position: absolute;
						content: '';
						background-color: $main-green;
						width: 100%;
						bottom: 0px;
						height: 0px;
						transition: height 0.4s, color 0.1s;
						z-index: -1;
						border-radius: 5px;
					}

					.btn1::before {
						background-color: $CTA;
						height: 2px;
					}

					.btn1:hover a {
						color: $pure-white;
					}

					.btn:hover::before {
						height: 100%;
					}
				}

				&__item {
					display: flex;
					align-items: center;
					letter-spacing: 2px;
					text-transform: uppercase;
					height: 32px;

					a {
						padding: 8px 15px;
						text-decoration: none;
						color: $black-text;
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
}
